body {
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

.create-box, .sign-up-box, .sign-in-box {
    max-width: 42%;
    padding-top: 20px;
    margin: auto;
}

.create-form, .sign-up-form, .sign-in-form {
    padding-top: 50px;
}

.header-one, .error {
    text-align: center;
}