body {
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

.create-box {
    max-width: 42%;
    padding-top: 20px;
    margin: auto;
}

.create-form {
    padding-top: 50px;
}

.header-one {
    text-align: center;
}