<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>

<form th:action="@{/project/create}" th:method="post" th:object="${project}">

    <div>
        <input type=hidden id="managerID" th:field="*{managerID}">
    </div>

    <div>
        <label>Project name:</label>
        <input type="text" id="name" th:field="*{name}">
    </div>

    <div>
        <label>Deadline:</label>
        <input type="date" id="deadline" th:field="*{deadline}">
    </div>

    <div>
        <label>Duration</label>
        <input type="number" id="duration" th:field="*{duration}">
    </div>

    <div>
        <button type="submit">Add Project</button>
    </div>

</form>
    <div>
        <button onclick="history.back()">Back</button>
    </div>
</body>
</html>