<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create subproject</title>
</head>
<body>
<form th:action="@{/createSubproject(projectID=${subproject.projectID})}" method="post" th:object="${subproject}">

    <div>
        <label>Name </label>
        <input type="text" id="name" th:field="*{name}">
    </div>

    <div>
         <label>Priority</label>
         <input type="number" id="priority" th:field="*{priority}">
    </div>

    <div>
        <label>Deadline</label>
        <input type="date" id="deadline" th:field="*{deadline}">
    </div>

    <div>
        <label>Duration</label>
        <input type="number" id="duration" th:field="*{duration}">
    </div>

    <div>
        <label>Completed</label>
        <input type="checkbox" id="completed" th:field="*{completed}">
    </div>

    <div>
        <button type="submit">Add subproject</button>
    </div>

</form>

</body>
</html>
