<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>

<form action="@{createProject}" th:method="post" th:object="${project}">
    <div>
        <label>Project name:</label>
        <input type="text" id="name" th:field="*{name}">
    </div>

    <div>
        <label>Deadline:</label>
        <input type="date" id="deadline" th:field="*{deadline}">
    </div>

    <div>
        <button type="submit">Add Project</button>
    </div>

</form>

</body>
</html>