<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<div>
    <a th:href="@{/projectsPage/createProject}">
        <button>Add project</button>
    </a>
</div>

<div>
    <h1>Project list:</h1>
    <tr th:each="project : ${projectList}">
        <label>Name: </label>
        <td th:text="${project.getName()}"/>
        <label>Deadline: </label>
        <td th:text="${project.getDeadline()}"/>
        <label>Duration: </label>
        <td th:text="${project.getDuration()}"/>
        <label>Completed: </label>
        <td th:text="${project.isCompleted()}"/>
        <a th:href="@{/project/update (projectID=${project.getProjectID()})}">
            <button>Edit</button>
        </a>
        <a th:href="@{/project/delete (projectID=${project.getProjectID()})}">
            <button>Delete</button>
        </a>
        <a href="#">
            <button>See Overview</button>
        </a>
        <br>
</div>
<br>

</tr>
</div>
</body>
</html>