<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/main.css}" rel="stylesheet">
  <title>Sign-in</title>
</head>
<body>
<h1>Sign-in</h1>
<form action="/sign-in" method="post">
  <p th:if="${wrongCredentials}" class="error">Forkert brugerid eller password</p>
  <p><label>Email: </label>
    <input name="email" type="text" autofocus required></p>
  <p><label>Password: </label>
    <input name="password" type="password" required></p>
  <p>
    <button type="submit">Login</button>
    <a th:href="@{'/'}"><button type="button">Reset</button></a>
  </p>
</form>

<a th:href="@{/sign-up}">
  <button class="sign-up">Sign-up</button>
</a>

</body>
</html>