<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Sign-up</title>
</head>
<body>
<h1>Sign-up</h1>
<form th:action="@{/sign-up}" th:object="${user}" th:method="post">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required>
    </div>

    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:pattern="'[a-zA-Z0-9._%+-]+@alpha\\.com'" th:field="*{email}" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" th:field="*{password}" required>
    </div>

    <div>
        <label for="role">Choose your role:</label>
        <select id="role" th:field="*{roleID}">
            <option th:each="role : ${roles}" th:value="${role.getRoleID()}" th:text="${role.getRoleName()}"></option>
        </select>
    </div>

    <div>
        <button type="submit">Create user</button>
    </div>
</form>

<a th:href="@{/login}">
    <button class="createuser">Gå tilbage til login</button>
</a>

</body>
</html>