<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sub projects</title>
</head>
<body>
<div>
    <a th:href="@{/createSubproject(projectID=${projectID})}">
        <button>Add subproject</button>
    </a>
</div>

<div>
    <h1>Subproject list:</h1>
    <tr th:each="subproject : ${subprojectList}">
        <label>Name: </label>
        <td th:text="${subproject.name}"/>
        <label>Deadline: </label>
        <td th:text="${subproject.deadline}"/>
        <label>Duration: </label>
        <td th:text="${subproject.duration}"/>
        <label>Completed: </label>
        <td th:text="${subproject.completed}"/>
        <td>
            <form method="get" th:action="@{/tasks}">
                <input type="hidden" name="subprojectId" th:value="${subproject.subprojectID}" />
                <button type="submit">See Tasks</button>
            </form>
        </td>
        <td>
            <form method="get" th:action="@{/updateSubproject}">
                <input type="hidden" name="subprojectID" th:value="${subproject.subprojectID}" />
                <button type="submit">Update subproject</button>
            </form>
<!--            <form method="get" th:action="@{/updateSubproject(subprojectID=${subproject.subprojectID})}">-->
<!--                <input type="hidden" name="subprojectId" th:value="${subproject.subprojectID}" />-->
<!--                <button type="submit">Update subproject</button>-->
<!--            </form>-->
        </td>
        <br>
    </tr>
</div>
</body>
</html>
