<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
</head>
<body>
<div>
  <a th:href="@{/project/subproject/task/create}">
    <button>Add Task</button>
  </a>
</div>

<div>
  <h1>Task list:</h1>
  <tr th:each="task : ${tasks}">
    <label>Name: </label>
    <td th:text="${task.getName()}"/>
    <label>Deadline: </label>
    <td th:text="${task.getDeadline()}"/>
    <label>Duration: </label>
    <td th:text="${task.getDuration()}"/>
    <label>Completed: </label>
    <td th:text="${task.getIsCompleted()}"/>

    <a th:href="@{/project/subprojects/task/update/ (taskID=${task.getTaskID()})}">
      <button>Edit</button>
    </a>
    <a th:href="@{/project/subprojects/task/delete/ (taskID=${task.getTaskID()})}">
      <button>Delete</button>
    </a>
    <a th:href="@{/project/subproject/task (taskID=${task.getTaskID()})}">
      <button>See Task</button>
    </a>
    <br>
    <br>
</div>

</tr>
</div>
</body>
</html>