<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update project</title>
</head>
<body>

<form th:action="@{/projectsPage/updateProject}" th:method="post" th:object="${project}">

  <div>
    <input type="hidden" id="projectID" th:field="*{projectID}">
  </div>

  <div>
    <input type="hidden" id="taskID" th:field="*{managerID}">
  </div>

  <div>
    <label>Project Name</label>
    <input type="text" id="name" th:field="*{name}">
  </div>

  <div>
    <label>Duration</label>
    <input type="number" id="duration" th:field="*{duration}">
  </div>

  <div>
    <label>Deadline</label>
    <input type="date" id="deadline" th:field="*{deadline}">
  </div>

  <div>
    <label>Completed</label>
    <input type="checkbox" id="completed" th:field="*{completed}" th:checked="${project.completed} ? 'checked' : ''">
  </div>

  <div>
    <button type="submit">Update project</button>
  </div>
</form>

</body>
</html>